* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	background: url("splash.gif");
	background-size: 190vh;
	/* overflow: hidden; */
}

.qimg{
	position: absolute;
	height: 40vh;
	top:14vh;
	left: 60vh;
}

.opt1{
	width: 35vh;
		height: 8vh;
		box-shadow: inset 32vh 0 0 0 #00aaff;
	font-size: 3vh;
	outline: none;
	border: none;
	font-weight: 200;
	color: white;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top:60vh;
	left: 10vh;
}

.opt1:hover{
		box-shadow: inset 32vh 0 0 0 #ffffff;
		color: #00aaff;
}

.opt2:hover {
	box-shadow: inset 32vh 0 0 0 #ffffff;
	color: #00aaff;
}

.opt3:hover {
	box-shadow: inset 32vh 0 0 0 #ffffff;
	color: #00aaff;
}

.opt4:hover {
	box-shadow: inset 32vh 0 0 0 #ffffff;
	color: #00aaff;
}

.opt2 {
	width: 35vh;
		height: 8vh;
			top: 75vh;
				left: 10vh;
		box-shadow: inset 32vh 0 0 0 #00aaff;
	font-size: 3vh;
	outline: none;
	border: none;
	font-weight: 200;
		color: white;
			position: absolute;
		font-family: 'Raleway', sans-serif;
}

.opt3 {
	width: 35vh;
		height: 8vh;
			top: 60vh;
				right: 20vh;
		box-shadow: inset 32vh 0 0 0 #00aaff;
	font-size: 3vh;
	outline: none;
	border: none;
	font-weight: 200;
		color: white;
			position: absolute;
		font-family: 'Raleway', sans-serif;
}

.opt4 {
	width: 35vh;
		height: 8vh;
			top: 75vh;
				right: 20vh;
		box-shadow: inset 32vh 0 0 0 #00aaff;
	font-size: 3vh;
		position: absolute;
	outline: none;
	border: none;
	font-weight: 200;
		color: white;
		font-family: 'Raleway', sans-serif;
}

#bt{
	height: 9%;
    width: 300px;
font-family: 'Raleway', sans-serif;
	font-size:200%;
	border: none;
	outline: none;
	color: white;
    background-color: transparent;
			border: 2px solid #6bdaff;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10vh;
			margin-top: 20vh;
			margin-left: 110vh;
			visibility: visible;
}

.tthtp{
	font-family: 'Poppins', sans-serif;
	color: rgb(255, 255, 255);
	position: absolute;
	font-size: 8vh;
	right: 70vh;
	top: 0vh;
}

.l1{
	width: 40vh;
	margin-right: 20vh;
	height: 75vh;
	position: absolute;
	top: 20vh;
	left: 30vh;
	font-family: 'Poppins', sans-serif;
	font-size: 13vh;
	border: none;
	outline: none;
	color: #A5E1FF;
}

.l2{
	width: 40vh;
	margin-right: 20vh;
	height: 75vh;
	position: absolute;
	top: 20vh;
	left: 80vh;
	font-family: 'Poppins', sans-serif;
	font-size: 13vh;
	border: none;
	outline: none;
	color: #A5E1FF;
}

.l3{
	width: 40vh;
	margin-right: 20vh;
	height: 75vh;
	position: absolute;
	top: 20vh;
	left: 130vh;
	font-family: 'Poppins', sans-serif;
	font-size: 13vh;
	border: none;
	outline: none;
	color: #A5E1FF;
}

.l1:hover{
	background-color: #b4e6ff;
	color: white;
}

.l2:hover {
	background-color: #b4e6ff;
	color: white;
}

.l3:hover {
	background-color: #b4e6ff;
	color: white;
}

.tthtp-1 {
	font-family: 'Poppins', sans-serif;
	color: rgb(255, 255, 255);
	position: absolute;
	font-size: 8vh;
	right: 95vh;
	top: 0vh;
}

.bhtp{
	position: absolute;
	top: 2vh;
	left: 2vh;
	height: 7vh;
	width: 7vh;
	border-radius: 4px;
}

.bhtp:hover{
	background-color: rgba(255, 255, 255, 0.559) ;
}

#bt:hover{
	height: 9%;
	width: 300px;
		font-size: 210%;
		transition: 0.3s ease;
		border: none;
			box-shadow: inset 300px 0 0 0 #6bdaff;
			cursor: pointer;
			border-radius: 0;
}

.timer{
	background-color: #00aaff;
	width: 25vh;
	height: 8vh;
	justify-content: center;
display: flex;
align-items: center;
font-size: 5vh;
	font-family: 'Poppins', sans-serif;
	color: white;
	margin-left: 80vh;
	margin-bottom: 10vh;
	position: absolute;
}
